// Nextflow config file

// Global default params, used in configs
params {
    // input-output config
    sample_sheet = null
    bucket = null
    delivery = null
    outdir = null
    ignoreExisting = false // NF converts CLI --ignore-existing to this
    
    // SIZ options
    read_pairs_per_siz = 1000000
    zstd_level = 15
}

// container settings
docker.enabled = true
docker.runOptions = '-v $HOME/.aws/credentials:/credentials -e AWS_SHARED_CREDENTIALS_FILE=/credentials'
process.container = 'public.ecr.aws/q0n1c7g8/nao/read-sizer:latest' // suffices for all processes

// AWS Client settings
aws.client.maxConnections = 1000
aws.client.maxErrorRetry = 10
aws.client.connectionTimeout = 0
aws.client.socketTimeout = 0

process {
    withName: 'GENERATE_SAMPLESHEET' {
        cpus   = { 1    }
        memory = { 2.GB }
        time   = { 10.m }
    }

    withName: 'SIZER' {
        cpus   = { 4    }
        memory = { 6.GB }
        time   = { 3.h  }
    }
}

// keep profiles below top level process block so profiles can overwrite process configs
profiles {
    standard {
        process.errorStrategy = "retry"
        process.maxRetries = 1
    }
    batch {
        process.executor = "awsbatch"
        process.errorStrategy = "retry"     // important if batch env uses spot instances
        process.maxRetries = 3
        process.queue = "read-sizer-batch-queue" // your queue here
    }
    high_perf {
        process {
            withName: 'SIZER' {
                cpus   = { 64     }
                memory = { 120.GB }
                time   = { 3.h    }
            }
        }
    }
}
